body {
  margin: 0;
}

ul, li, ol {
  list-style-type: none;
  padding: 0;
}

main {
  flex-grow: 1;
  background-color: #222;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}